.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fromleft{
  animation-name: myAnimationForLeftSide;
  animation-duration: 3s;
  transition: all 0.4;
}

.fromright{
  animation-name: fromright;
  animation-duration: 3s;
  transition: all 0.4;
}

@keyframes myAnimationForLeftSide{
  0%{
    transform: translateX(-150px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fromright{
  0%{
    transform: translateX(150px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
